a {
    text-decoration: none;
}
a:link {
    color: rgb(255, 167, 66);
}
a:hover {
    color: rgb(255, 149, 29);
}
a:active {
    color: rgb(253, 114, 0);
}
 a:visited {
    color: rgb(197, 118, 0);
} /* i really don't like this, might just make everything a button */

.interviewee {
    color: rgb(95, 236, 255);
}
h1 {
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    color: rgb(255, 145, 0)
}
h2 {
    color: rgb(255, 132, 83);
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
}
h3 {
    color: rgb(255, 132, 83);
    font-family: Tahoma, Geneva, sans-serif;
}
footer {
    margin: 40px;
}
#doublespaced {
    padding: 12px;
}
#spaced {
    padding: 10px;
}
#minispaced {
    padding: 5px;
}
.center {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
footer {
    padding: 12px;
    color: rgb(134, 209, 91);
    text-align: center;
    border: 2px double rgba(255, 255, 255, 0.4);
    font: bold 1.2vw Tahoma, Geneva, sans-serif;
    font-weight: 1;
}
body {
    background-color: rgb(46, 46, 46);
}
.button {
    border: none;
    background-color: rgb(255, 167, 66);
    transition: background-color 0.3s ease;
    border-radius: 20px;
    cursor: pointer;
    padding: 15px 32px;
    display: inline;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 9px #000000; /* might remove later, dont know if this makes the text look better or worse on orange */
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Lilita One';
    font-size:16px;
}
.button:hover {
    background-color: rgb(0, 122, 39);
    /* rgb(46, 77, 56) is also good */
}