h1 {
    color: rgb(255, 167, 66);

    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 4vw;
    animation-name: in;
    animation-duration: 3s;
}
h3 {
    color: rgb(206, 110, 0);
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
}
h5 {
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
}
h6 {
    color: rgb(206, 110, 0); 
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
}
/* @keyframes in {
    from {color: rgb(46, 46, 46)}
    to {color: rgb(255, 167, 66);}
    -- eventually make title move a bit, like the minecraft title in the main menu or something --
 } 
 */
div {
    padding: 3px 0px 3px 0px;
}